/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: rgb(5, 5, 5);
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
  box-shadow: 0 0 50px 10px #ffffff0e;
}

header > .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #636363;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}
.t-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(255, 115, 0);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  margin: 30px;
}
.t-contato button:hover {
  box-shadow: 0px 0px 14px #ffa6005b;
  transform: scale(1.05);
}

/* Estilo do Topo */
section.topo-do-site {
  padding: 0px 0%;
}

section.topo-do-site .flex {
  align-items: center;
  padding: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: rgb(255, 115, 0);
  font-size: 40px;
  line-height: 40px;
  margin: 30px;
}
.topo-do-site h3 {
  color: #fff;
  margin: 60px 0;
  font-size: 20px;
  margin: 30px;
}

/* Projetos */
section.Projetos {
  padding: 40px 4%;
}
section.Projetos .flex {
  gap: 60px;
}

.Projetos .projetos-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}
.Projetos .projetos-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #ffffff70;
  cursor: pointer;
}

.Projetos .projetos-box p {
  text-align: center;
}

.Projetos .img-sobre {
  border-radius: 100px;
}

.Projetos .projetos-box h3 {
  font-size: 26px;
  margin: 15px 0;
  text-align: center;
}

.Projetos h2 {
  color: rgb(255, 115, 0);
  padding: 0px 60px;
  font-family: "Noto Sans Mono", monospace;
  font-size: 60px;
  text-align: center;
}

/* Estilo do sobre */
section.sobre {
  padding: 40px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: white;
}

.sobre .txt-sobre h2 {
  font-size: 48px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: rgb(255, 115, 0);
  display: block;
  margin: 5px;
}

.sobre .txt-sobre p {
  margin: 30px 0;
  text-align: justify;
}

.tb-social button {
  background-color: rgb(255, 115, 0);
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 22px;
  margin: 5px;
}

.sobre .txt-sobre .tb-social button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 8px #e58f04ab;
  transition: 0.5s;
}

/* Formulário */

section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.formulario .interface h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.formulario .interface h2 span {
  color: rgb(255, 115, 0);
}

form input,
form textarea {
  width: 100%;
  background-color: rgb(42, 42, 42);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 18px;
  color: white;
  font-size: 18px;
}

form textarea {
  resize: none;
}

form .tb-enviar {
  margin-top: 20px;
  text-align: center;
}

form .tb-enviar button {
  width: 160px;
  background-color: rgb(255, 115, 0);
  color: black;
  font-weight: 900;
  cursor: pointer;
}

form .tb-enviar button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 8px #e58f04ab;
  transition: 0.3s;
}

form button {
  width: 100%;
  background-color: rgb(42, 42, 42);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 18px;
  color: white;
  font-size: 18px;
}

/* Rodapé */

footer {
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid rgb(255, 115, 0);
}

footer .line-footer p i {
  color: rgb(255, 115, 0);

  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
  text-decoration: none;
}

.txt-sobre p span {
  color: rgb(255, 115, 0);
}

/*Página sobre mim*/
.eudenovo p {
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
  text-align: justify;
}

.eu2 img {
  margin-bottom: 40px;
  border-radius: 5%;
}

.img-sobre img {
  border-radius: 5%;
}

/* Aba Projetos */

.portfolio h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.portfolio h2 span {
  color: rgb(255, 115, 0);
  font-weight: 600;
}

section.portfolio {
  padding: 80px 4%;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 40px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 6s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
  transition: 0.8s;
}

/* Responsivo */

@media screen and (max-width: 1020px) {
  /* Classe Gerais */
  .flex {
    flex-direction: column;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  /* Cabeçalho */
  .menu-desktop,
  .t-contato {
    display: none;
  }

  /* Topo do Site */
  .topo-do-site h1 {
    font-size: 35px;
    text-align: center;
  }

  .topo-do-site h3 {
    text-align: center;
  }
  .topo-do-site .img-topo-site img {
    align-content: center;
    width: 400px;
  }

  section.topo-do-site .flex {
    gap: 0px;
  }

  /* Projetos */
  section.Projetos {
    padding: 40px 8%;
  } 
  
  section .Projetos h2 {
    text-align: center;
    align-content: center;
    justify-content: center;
  } 

  .txt-sobre h2, span{
    text-align: center;
  }
}
